@import "../styles/colors";
@import "../styles/light-dark-theme";

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .character-container {
    color: var(--textThemeColor1);
    background-color: var(--bgThemeColor2);
    width: 300px;
    margin: 10px 0;

    h2 {
      padding: 5px;
    }

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}
