@import "./styles/colors";
@import "./styles/_light-dark-theme.scss";

body {
  background-color: var(--bgThemeColor1);
  color: var(--textThemeColor1);
  text-align: center;
}

h1 {
  margin: 30px 0;
}
